<div class="swiper-ads">
  <div class="swiper-container" id="swiper_ads">
    <div class="swiper-wrapper clearfix">
      <% for(var i = 0; i < 5; i++) { %>
      <div class="swiper-slide">
        <a href="/">
          <img src="https://yjw-image.oss-cn-shenzhen.aliyuncs.com/yjwSit/20200324-%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20200324113517-rc-upload-1585014058883-103.jpeg" alt="">
        </a>
      </div>
      <% } %>
    </div>
  </div> 
  <div class="swiper-prev" id="swiper_prev">前</div>
  <div class="swiper-next" id="swiper_next">后</div>
</div>