@import '../var';
@import "../global/alert.scss";


.main-wraper {
  float: right;
  width: 992px;
  padding: 30px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0px 4px 6px rgba(117, 117, 117, 0.16);
  .header {
    .title {
      font-size: 22px;
      line-height: 30px;
      color: rgba(102, 102, 102, 1);
      font-weight: normal;
      padding-bottom: 20px;
    }

    .subtitle {
      font-size: 18px;
      color: rgba(102, 102, 102, 1);
      font-weight: normal;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(237, 237, 237, 0.93);
      line-height: 25px;
    }
  }

  .user-set {
    font-size: 18px;
    line-height: normal;

    a {
      float: none;
      text-decoration: none;
    }

    li {
      border-bottom: 1px solid rgba(237, 237, 237, 0.93);
      height: 86px;
      line-height: 86px;

      .label {
        width: 208px;
        text-align: right;
        display: inline-block;
        padding-right: 30px;
        box-sizing: border-box;
        line-height: 25px;
        border-right: 1px solid rgba(237, 237, 237, 0.93);
      }

      .center {
        width: 634px;
        padding-left: 39px;
        box-sizing: border-box;
        display: inline-block;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          display: inline-block;
          vertical-align: middle;
        }
      }

      button {
        cursor: pointer;
        display: inline-block;
        width: 76px;
        height: 35px;
        border: 1px solid rgba(221, 221, 221, 1);
        box-sizing: border-box;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: rgba(102, 102, 102, 1);
      }
    }
  }
}