body {
  margin: 0 auto;
  font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
  color: #333;
}

* {
  box-sizing: border-box;
}
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  margin: 0 auto;
  font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
  color: #333;
  -webkit-text-size-adjust: 100%;
}
i {
  font-style: normal;
}
b {
  font-weight: 400;
}
s {
  text-decoration: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
em {
  font-style: normal;
}
li {
  list-style: none;
}
img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  word-wrap: break-word;
}
input {
  border: none;
  outline: none;
  -webkit-appearance: none;
}
input[type='button'],
input[type='submit'],
input[type='reset'] {
  -webkit-appearance: none;
}
input {
  -webkit-appearance: none;
  /*清除ios默认圆角*/
  border-radius: 0;
}
textarea {
  -webkit-appearance: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

body,
button,
dd,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
p,
ul {
  margin: 0;
  padding: 0
}

button,input,select {
  vertical-align: middle;
  font-size: 100%;
  outline: none;
}

a:link,
a:visited {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #3A78EA
}

ol,ul {
  list-style: none
}

img {
  border: 0;
}

em,var,i {
  font-style: normal
}

input[type="search"],
input[type="button"],
input[type="submit"],
select,
textarea,
button {
  -webkit-appearance: none;
  border-image: none;
  border-radius: 0;
  border: 0 none
}

.ad-box {
  margin: 20px auto;
}

.clearfix:after {
  content: ".";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  font-size: 0
}

.clearfix {
  *zoom: 1
}